POSTGRES_DB=CreatorPayV2Db
POSTGRES_USER=creatorpay
POSTGRES_PASSWORD=replace-with-a-local-development-password
POSTGRES_PORT=5432
ConnectionStrings__CreatorPayDatabase=Host=localhost;Port=5432;Database=CreatorPayV2Db;Username=creatorpay;Password=replace-with-a-local-development-password
